header{
    text-align: center;
    font-weight:bold;
    background-color: $colour-primary;
    color: $colour-logo;
    padding: 35px;
    font-size: 33px;
}

.ligne {
    display: flex;
    justify-content: center;
    margin: 5em;

    .lien-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: rgba(0,0,0,0.1) 5px 5px 5px 5px;
        margin: 5em;
        width: 25em;
        height: 35em;
    }
}

.prochainement {
    display: flex;
    justify-content: center;

    .btn {
        background-color: $colour-primary;
        width: 250px;
        height: 70px;
        padding: auto;
        margin-top: 2em;
        margin-bottom: 2em;
        border-radius: 10px;
        
        p{
            text-align: center;
            font-size: 25px;
            color: $colour-logo;
        }
    }
}


@font-face {
    font-family: 'A';
    src: url('RougeScript-Regular.ttf');
}


@font-face {
    font-family: 'B';
    src: url('LeckerliOne-Regular.ttf');
}

@font-face {
    font-family: 'C';
    src: url('Miama.ttf');
}
@font-face {
    font-family: 'D';
    src: url('Pattaya-Regular.ttf');
}
@font-face {
    font-family: 'E';
    src: url('Sofia-Regular.ttf');
}
@font-face {
    font-family: 'F';
    src: url('Sevillana-Regular.ttf');
}
@font-face {
    font-family: 'G';
    src: url('Quintessential-Regular.ttf');
}

.note {
    background-color: $coulour-fond-note;

    i {
        font-size: 38px;
        text-align: center;
        color: #795356;
    }

    .trait {
        margin-top: 70px;
        margin-left: 1em;
        margin-right: 2em;
        height: 5px;
        width: 15em;
        background: -webkit-linear-gradient( right, #a68485, #795356);
        background: -moz-linear-gradient( right, #a68485, #795356);
        background: -ms-linear-gradient( right, #a68485, #795356);
        background: -o-linear-gradient( right, #a68485, #795356);
        background: linear-gradient( to left, #a68485, #795356);
    }

    h2, h3, h4 {
        font-size: 30px;
        text-align: center;
        font-family: D;
        background: -webkit-linear-gradient( right, #a68485, #795356);
        background: -moz-linear-gradient( right, #a68485, #795356);
        background: -ms-linear-gradient( right, #a68485, #795356);
        background: -o-linear-gradient( right, #a68485, #795356);
        background: linear-gradient( to left, #a68485, #795356);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.musique {
    i {
        font-size: 30px;
        background: -webkit-linear-gradient( right, #f79674, #f15864);
        background: -moz-linear-gradient( right, #f79674, #f15864);
        background: -ms-linear-gradient( right, #f79674, #f15864);
        background: -o-linear-gradient( right, #f79674, #f15864);
        background: linear-gradient( to left, #f79674, #f15864);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

}




h2 {
    .musique {
        i {
            font-size: 45px;
            text-align: center;
        }
    }
}

.chic {
    background-color: $coulour-fond-chic;

    h2, h3, h4 {
        font-size: 30px;
        text-align: center;
        background: -webkit-linear-gradient( right, #a374fa, #c9791c);
        background: -moz-linear-gradient( right, #a374fa, #c9791c);
        background: -ms-linear-gradient( right, #a374fa, #c9791c);
        background: -o-linear-gradient( right, #a374fa, #c9791c);
        background: linear-gradient( to left, #a374fa, #c9791c);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.delice {
    background-color: $coulour-fond-delice;

    h2, h3, h4 {
        font-size: 30px;
        text-align: center;
        font-family: C;
        background: -webkit-linear-gradient( right, #79bbf9, #4b6ce6);
        background: -moz-linear-gradient( right, #79bbf9, #4b6ce6);
        background: -ms-linear-gradient( right, #79bbf9, #4b6ce6);
        background: -o-linear-gradient( right, #79bbf9, #4b6ce6);
        background: linear-gradient( to left, #79bbf9, #4b6ce6);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.palette {
    background-color: $coulour-fond-palette;

    .trait {
        background: -webkit-linear-gradient( left, #c1fe84, #87c07d);
        background: -moz-linear-gradient( left, #c1fe84, #87c07d);
        background: -ms-linear-gradient( left, #c1fe84, #87c07d);
        background: -o-linear-gradient( left, #c1fe84, #87c07d);
        background: linear-gradient( to left, #c1fe84, #87c07d);
        background-size: 800px 620px;
        height: 10px;
        width: 100%;
    }

    h2, h3, h4 {
        font-size: 30px;
        text-align: center;
        font-family: E;
        background: -webkit-linear-gradient( right, #c1fe84, #87c07d);
        background: -moz-linear-gradient( right, #c1fe84, #87c07d);
        background: -ms-linear-gradient( right, #c1fe84, #87c07d);
        background: -o-linear-gradient( right, #c1fe84, #87c07d);
        background: linear-gradient( to left, #c1fe84, #87c07d);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.menu {
    width: 80%;
    margin: auto;

    h2 {
        font-size: 65px;
    }

    h3 {
        font-size: 45px;
        font-family: G;
        color: black;
    }

    .ligne {
        display: flex;
        justify-content: space-between;
    }
}

.mets {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 2px;
    padding: 2px;
    font-family: G;
}


a{
    text-decoration: none;
}

.left{

    width: auto;
}

.right {
    width: 40px;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: $colour-primary;
    color: $colour-logo;
    font-size: 25px;
    padding: 25px;

    a {
        color: $colour-logo;
        text-decoration: none;
    }
}